@import 'bootstrap/scss/bootstrap.scss';

.album {
    margin: 25px;
}

.album--editing {
    .album-title {
        border-bottom: 2px solid #ccc;
    }
}

.album.album--editing .ph-gallery-image-card,
.album.album--editing .album-text {
    cursor: grab;
}

.inserter {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10000;

    .inserter-bar {
        opacity: 0;
        width: 4px;
        height: 4px;
        background-color: $primary;
    }

    background-color: black;

    &.inserter--active {
        position: static;
        .inserter-bar { opacity: 1 }
    }

    transition: margin 0.2s;
}

.inserter--horizontal {
    min-height: 30px;
    height: 30px;
    width: 100%;
    margin-bottom: -30px;

    &.inserter--active {
        margin-bottom: 0;
    }

    flex-direction: column;

    background-color: transparent;

    .inserter-bar {
        width: 100%;
    }
}

.inserter--vertical {
    height: 100%;
    min-width: 30px;
    width: 30px;
    margin-right: -30px;

    flex-direction: row;

    background-color: transparent;

    &.inserter--active {
        margin-right: 0;
    }

    .inserter-bar {
        height: 100%;
    }
}

.ph-album-image-dragging {
    transition: none !important;
}

.album-navbar {
    z-index: $zindex-sticky + 1;
}

.album-text {
    display: block;

    border: none;

    text-align: center;
    margin: 20px 40px;

    border-radius: 10px;

    padding: 15px;

    .album--editing &, &.album-text--editing, &:hover {
        border: 1px solid #ccc;
        box-shadow: 2px 2px 3px #eee;
    }
}

.image-list {
    display: flex;
    flex-direction: row;
    list-style: none;

    padding: 0;
    margin: 10px;

    li.image-preview {
        margin: 2px;
        padding: 0;
    }
}
