@import 'uikit/src/scss/variables-theme.scss';

$indicator-label-color: #f8f8f8;
$indicator-border-color: #ccc;

.ph-gallery-image {
    min-width: 300px;
    min-height: 300px;
}

@keyframes grow-card {
    0% { transform: scaleXY(0); opacity: 0 }
    100% { transform: scaleXY(1); opacity: 1 }
}

.ph-gallery-image-card {
    cursor: pointer;
    margin: 10px;
    width: 300px;
    height: 300px;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    transition: opacity 1s, transform 1s;

    overflow: hidden;

    box-sizing: border-box;

    .uk-overlay {
        padding: 10px;

        opacity: 0;
        transform: translateY(30px);
        transition: opacity 0.5s, transform 0.5s;
    }

    &:not(.ph-gallery-image-card--selected):hover {
        .ph-image-selector-check {
            transform: scale(1);
        }

        .ph-image-selector-box {
            transition: background-color 0.2s, color 0.2s;
        }
    }

    &:hover, &.ph-gallery-image-card--editing, &.ph-gallery-image-card--saving {
        border: 1px solid $global-primary-background;

        .uk-overlay {
            opacity: 1;
            transform: none;
        }
    }
}

.ph-gallery-image-card--loading {
    opacity: 0;
    transform: scale(0);
}

.ph-gallery-image-card--loaded {
    opacity: 1;
    transform: scale(1);
}

.ph-gallery {
    margin: 0 25px;
}

.ph-image-meta {
    font-size: 10pt;
    margin-bottom: 2px;
}

.ph-image-description {
    padding: 4px;

    resize: none;
    width: 100%;

    display: block;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: border 0.2s;

    cursor: text;

    .ph-edit-btn {
        opacity: 0;
        transition: opacity 0.2s;
    }

    &:hover {
        .ph-edit-btn {
            opacity: 1;
        }
        border-color: #ccc;
    }
}

textarea.ph-image-description {
    background: transparent;
    color: white;
}

@keyframes fade-slides-in {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

.slideshow {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: black;

    animation: fade-slides-in;
    animation-fill-mode: forwards;
    animation-duration: 0.75s;
    animation-iteration-count: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .uk-navbar {
        max-width: 400px;
        position: fixed;
        margin: 0 auto;
        bottom: 50px;
    }

    .slide {
        max-width: 100vw;
        max-height: 100vh;
    }
}

.ph-image-selector {
    position: absolute;
    top: 10px;
    left: 10px;

    .ph-image-selector-check {
        transform: scale(0);
        opacity: 0.4;
    }

    .ph-image-selector-box {
        border-radius: 100%;
        border: 3px solid white;
        background-color: #ccc;
        padding: 6px 3px 3px 3px;
        &:before {
            font-size: 16pt;
            color: white;
            font-family: FontAwesome;
            content: '\f00c';
        }
    }
}

@keyframes bounce-scale {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.ph-gallery-image-card--selected .ph-image-selector {
    .ph-image-selector-check {
        animation: bounce-scale 0.2s;
        transition: transform 0.3s;
        transform: scale(1);
        opacity: 1;
    }

    .ph-image-selector-box {
        background-color: #207ce5;
    }
}

.ph-gallery-image-card:not(.ph-gallery-image-card--selected) .ph-image-selector-check {
    transition: transform 0.3s;
}

/* Selected indicator */

.ph-gallery-selected-indicator {
    position: absolute;
    left: 0;
    bottom: 0;

    .ph-gallery-selected-indicator-label {
        border: 1px solid $indicator-border-color;
        border-bottom: none;
        background-color: $indicator-label-color;
        padding: 3px 16px;
        .ph-gallery-images-toolbar {
            display: inline-block;

            .ph-gallery-images-toolbtn {
                color: #222;
                &:hover {
                    color: #207ce5;
                    cursor: pointer;
                }
            }
        }
    }

    .ph-gallery-selected-indicator-list {
        display: none;
    }
}

.ph-gallery-selected-indicator--empty {
    display: none;
}

.ph-share-link-box {
    position: absolute;
    bottom: 35px;

    display: flex;
    padding: 3px;
    background-color: $indicator-label-color;
    border: 1px solid $indicator-border-color;

    .ph-share-link-copy {
        display: inline-block;
        cursor: pointer;
        width: 1em;
    }
    .ph-share-link-close {
        cursor: pointer;
        width: 1em;
        margin: 0 5px 0 5px;
    }
}
