@import 'uikit/src/scss/variables-theme.scss';

$indicator-label-color: #f8f8f8;
$indicator-border-color: #ccc;

.ph-upload {
    margin: 0;
}

.ph-nav-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;

    & > .uk-inline {
        max-width: none;
    }
}

.ph-nav-link-default {
    color: #555;
}

.ph-gallery-image {
    min-width: 300px;
    min-height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ph-gallery-image__video-icon {
    border-radius: 100%;
    background-color: rgba(#eee, 20%);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 20px;

    height: 1.5em;
    width: 1.5em;
}

@keyframes grow-card {
    0% { transform: scaleXY(0); opacity: 0 }
    100% { transform: scaleXY(1); opacity: 1 }
}

.ph-gallery-image-card {
    cursor: pointer;
    margin: 10px;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    transition: opacity 1s, transform 1s;

    overflow: hidden;

    box-sizing: border-box;

    .uk-overlay {
        padding: 10px;

        opacity: 0;
        transform: translateY(30px);
        transition: opacity 0.5s, transform 0.5s;
    }

    &:not(.ph-gallery-image-card--selected):hover {
        .ph-image-selector-check {
            transform: scale(1);
        }

        .ph-image-selector-box {
            transition: background-color 0.2s, color 0.2s;
        }
    }

    &:hover, &.ph-gallery-image-card--editing, &.ph-gallery-image-card--saving {
        border: 1px solid $global-primary-background;

        .uk-overlay {
            opacity: 1;
            transform: none;
        }
    }
}

.ph-gallery-image-card--loading {
    opacity: 0;
    transform: scale(0);
}

.ph-gallery-image-card--loaded {
    opacity: 1;
    transform: scale(1);
}

.ph-gallery {
    margin: 0 25px;
}

.ph-image-meta {
    font-size: 10pt;
    margin-bottom: 2px;
}

.ph-image-description {
    box-sizing: border-box;
    padding: 4px;

    width: 100%;

    display: block;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: border 0.2s;

    cursor: text;

    textarea {
        outline: none;
        resize: none;
        width: 100%;
        color: white;
        border: none;
        background: transparent;
    }

    .ph-edit-btn {
        opacity: 0;
        transition: opacity 0.2s;
    }

    &:hover {
        .ph-edit-btn {
            opacity: 1;
        }
        border-color: #ccc;
    }
}

.ph-gallery-image-card--editing {
    .ph-image-description {
        border-color: white;
    }
}

.ph-image-description__suggestions {
    background-color: rgba(black, .9);
    border: 1px solid #ccc;
}

@keyframes fade-slides-in {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

.slideshow {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: black;

    animation: fade-slides-in;
    animation-fill-mode: forwards;
    animation-duration: 0.75s;
    animation-iteration-count: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .uk-navbar {
        max-width: 400px;
        position: fixed;
        margin: 0 auto;
        bottom: 50px;
    }

    .slide {
        width: 100vw;
        height: 100vh;
    }
}

.ph-image-selector {
    position: absolute;
    top: 10px;
    left: 10px;

    .ph-image-selector-check {
        transform: scale(0);
        opacity: 0.4;
    }

    .ph-image-selector-box {
        border-radius: 100%;
        border: 3px solid white;
        background-color: #ccc;
        padding: 6px 3px 3px 3px;
        &:before {
            font-size: 16pt;
            color: white;
            font-family: FontAwesome;
            content: '\f00c';
        }
    }
}

@keyframes bounce-scale {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.ph-gallery-image-card--selected .ph-image-selector {
    .ph-image-selector-check {
        animation: bounce-scale 0.2s;
        transition: transform 0.3s;
        transform: scale(1);
        opacity: 1;
    }

    .ph-image-selector-box {
        background-color: #207ce5;
    }
}

.ph-gallery-image-card:not(.ph-gallery-image-card--selected) .ph-image-selector-check {
    transition: transform 0.3s;
}

.ph-tags-searcher {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ph-tags-searcher__tag {
    margin: 8px 3px;
}

.ph-recent-tags__tag {
    margin-right: 2px;
}

.ph-tags-searcher__tag, .ph-recent-tags__tag {
    display: inline-block;
    border: 1px outset #207ce5;
    background-color: lighten(#207ce5, 40%);
    border-radius: 2px;
    line-height: 1em;
    padding: 5px;

    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

.ph-tags-searcher__tag__delete {
    width: 10px;
    height: 10px;
    display: inline-block;

    margin-left: 4px;

    color: #888;

    transition: color 0.2s;

    &:before {
        content: '\f00d';
        font-family: 'FontAwesome';
    }

    &:hover {
        color: #333;
    }
}

.ph-tags-searcher__input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    appearance: none;
}

.ph-image-description__tag--selected, .ph-recent-tags__tag--selected {
    background-color: #207ce5;
}

.ph-gallery-loading-indicator {
    padding-top: 50px;
    padding-bottom: 25px;
}

video {
    max-width: 100%;
    max-height: 100%;
    align-self: flex-start;
    box-sizing: border-box;
    margin-bottom: 100px;
}

.slideshow > img {
    max-width: 100%;
    max-height: 100%;
}
